
#logo {
    margin-top: 20px;
    text-align: center;
}

.Login {
	width: 100%;
	height: 50vh;
	display: grid;
	place-items: center;
}
.Login-container {

	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.logo {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.form {
	display: flex;
	flex-direction: column;
}
.form a {
	color: var(--hospital-green);
	font-size: var(--sm);
	text-align: center;
	text-decoration: none;
	margin-bottom: 52px;
}
.label {
	font-size: var(--sm);
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: var(--light-golden);
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
}
.input-email {
	margin-bottom: 22px;
}
.primary-button{
		background-color: var(--blue);
		border-radius: 8px;
		border: none;
		color: var(--light-golden);
		cursor: pointer;
		display: block;
		font-family: 'Poppins';
		font-size: var(--md);
		font-style: normal;
		font-weight: 600;
		margin: auto;
		padding: 10px;
		transition: .3s ease all;
		width: 100%;
}

.secondary-button {
	background-color: var(--white);
	border-radius: 8px;
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.logo {
		display: block;
	}
}