.contact-form {
	align-items: center;
	background: var(--very-light-golden);
	box-sizing: border-box;
	display: block;
	justify-content: center;
	padding-bottom: 100px;
	padding-top: 50px;
	padding: 20px;
	width: 100%;
}

.contact-input #email,
.contact-input #name,
.contact-input #message {
	align-items: center;
	display: block;
	margin: auto;
}

.contact-input label {
	margin-left: 10%;
}

h1.contact-input-f {
	font-size: var(--eg);
	text-align: center;
}

.contact-form>div {
	margin-bottom: 20px;
}

.contact-form label {
	color: #1f1f1f;
	display: block;
	margin-bottom: 5px;
	font-size: var(--sm);
	font-weight: 600;
}

.contact-form input,
.contact-form textarea {
	border: 2px solid #e2e2e2;
	border-radius: 5px;
	color: #1f1f1f;
	font-size: var(--md);
	margin-bottom: 5px;
	padding: 10px;
	width: 80%;
}

.contact-form input:focus {
	border: 2px solid #0085FF;
	outline: none;
}

.contact-form .error {
	color: var(--red);
	font-size: var(--sm);
	font-weight: 600;
	margin-left: 10%;
}

.contact-form button[type="submit"] {
	background-color: var(--blue);
	border-radius: 8px;
	border: none;
	color: var(--light-golden);
	cursor: pointer;
	display: block;
	font-family: 'Poppins';
	font-size: var(--md);
	font-style: normal;
	font-weight: 600;
	margin: auto;
	padding: 10px;
	transition: .3s ease all;
	width: 82%;
}

.contact-form button[type="submit"]:hover {
	background: var(--golden);
	color: var(--black);
}

.contact-form .exito {
	color: #02a802;
	font-size: var(--md);
	padding-top: 20px;
	text-align: center;
}

.contact-form input[type="radio"] {
	width: auto;
}