
#faqs {
    background-attachment: fixed;
    background-color: var(--blue);
    background-image: url('../assets/images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

h1.faqs-title {
    color: var(--white);
    font-size: var(--eg);
    padding-bottom: 3%;
    padding-top: 5%;
    width: auto;
    text-align: center;
}


h2.privacy-title {
    font-size: var(--md);    
    font-weight: 500;
}

li#question-container{
    margin:20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--black);
    color: var(--black);
    font-weight: 800;
    list-style: none;
    padding: 20px 20px 10px 10px;
}


@media (max-width: 457px) {

    p.answer {
        font-size: var(--ssm);
    }

    h2.privacy-title {
        font-size: var(--ssm);    
        font-weight: 700;
    }
}