
.main-form {
    display: block;
    padding: 1%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.title {
    width: 90%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: var(--md);
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: var(--black);
    margin: auto;
    margin-bottom: 30px;
    }

#form {

    width: 100%;
    background: var(--light-golden);
    flex: none;
    order: 1;
    flex-grow: 0;
}

#input-form {
    display: flex;
}

#double-input {
    display: flex;
    justify-content: space-between;
}

#form button[type="submit"] {
	margin: auto;
	display: block;
	font-weight: 600;
	border: none;
	cursor: pointer;
	width: 82%;
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	transition: .3s ease all;
	background: var(--blue);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: var(--md);
    color: var(--light-golden);
}

#passengers-list {
    display: flex;
}
#form button[type="submit"]:hover {
	background: var(--golden);
	color: var(--black);
}

.icon {
    width: 50px;
    height: auto;
}
#google{
    padding-bottom: 10px;
}

#label-google {
    font-size: var(--ssm);
    color: var(--black);
    margin-left: 10px;
}