.main-form {
    align-items: center;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    margin-top: -1rem;
    padding: 1%;
    width: 100%;
}

.title {
    align-items: center;
    color: var(--black);
    font-family: 'Poppins';
    font-size: var(--md);
    font-style: normal;
    font-weight: 275;
    line-height: 36px;
    margin-bottom: 30px;
    margin: auto;
    padding-bottom: 2rem;
    text-align: center;
    width: 90%;
}

#form {
    background: var(--light-golden);
    flex-grow: 0;
    flex: none;
    order: 1;
    width: 100%;
}

.css-1hwfws3 {
    font-size: var(--sm);
}

#google {
    padding-bottom: 10px;
}

#label-google {
    color: var(--black);
    font-size: var(--ssm);
    margin-left: 10px;
}

#input-form {
    display: flex;
}

#double-input {
    display: flex;
    justify-content: space-between;
}

#form button[type="submit"] {
    background: var(--blue);
    border-radius: 5px;
    border-radius: 8px;
    border: none;
    color: var(--light-golden);
    cursor: pointer;
    display: block;
    font-family: 'Poppins';
    font-size: 16px;
    font-size: var(--md);
    font-style: normal;
    font-weight: 600;
    margin: auto;
    padding: 10px;
    transition: .3s ease all;
    width: 82%;
}

#passengers-list {
    display: flex;
}

#form button[type="submit"]:hover {
    background: var(--golden);
    color: var(--black);
}

.exito {
	color: #02a802;
	font-size: var(--md);
	padding-top: 20px;
	text-align: center;
}

.booking-error {
	color: var(--red);
	font-size: var(--ssm);
	font-weight: 600;
	margin-left: 10%;
}