.nav-item {
	background-color: var(--very-light-golden);
	display: flex;
	font-family: 'Poppins';
	font-size: var(--md);
}

.nav-scroller {
	height: 2.75rem;
	overflow-y: hidden;
	position: relative;
	z-index: 2;
}

.fivestars {
	left: 60px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 20px;
	width: 410px;
}

#menu {
	height: auto;
	margin-right: 30px;
	width: 100px;
}

#list-item {
	color: var(--black);
	font-family: 'Poppins';
	font-size: var(--sm);
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	margin-left: 10px;
}

.bd-placeholder-img {
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none;
}

.b-example-divider {
	background-color: var(--golden);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
	height: 3rem;
}

.b-example-vr {
	flex-shrink: 0;
	height: 100vh;
	width: 1.5rem;
}

.bi {
	fill: currentColor;
	vertical-align: -.125em;
}


@media (max-width: 605px) {

	.fivestars {
		width: 60%;
	}

	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (max-width: 451px) {

	.fivestars {
		width: 50%;
	}
}

@media (max-width: 251px) {

	.fivestars {
		width: 180px;
	}
}