.hero-container {
    display: flex;
    margin: 4rem 0 0 0;
    justify-content: space-between;
    padding-left: 2%;
}

.hero-banner {
    background-attachment: scroll;
    background-image: url('../assets/images/bg-toyota.png');
    background-repeat: no-repeat;
    width: 80%;
}

.main-message {
    align-items: center;
    color: var(--black);
    font-family: 'Poppins';
    font-size: var(--md);
    font-style: normal;
    height: 104px;
    line-height: 32px;
    margin-left: 20px;
    text-align: left;
    width: 650px;
}

.just-time {
    color: var(--black);
    display: flex;
    font-family: 'Poppins';
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    line-height: 4rem;
    padding-left: 20px;
}

.white-corolla {
    padding-left: 3%;
    padding-top: 32%;
    width: 85%;
}


@media (max-width: 1097px) {

    .hero-banner {
        display: none;
    }

    .hero-container {
        padding-left: 0%;
    }
}

@media (max-width: 1026px) {

    .hero-container {
        display: block;
    }
}