
#ratings {
    background-image: url('../assets/images/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    background-color: var(--blue);
}

#ul-rating {
    display: flex;
    justify-content: center;
}


h1.testimonials-title {
    font-size: var(--eg);
    padding-top: 5%;
    color: var(--white);
    width: auto;
}


.container-rating {
    opacity: 90%;
    display: flex;
    margin: 3% 3% 3% 3%;
    margin-bottom: 10px;
    border-radius: 10px;
    height:auto;
    width: max-content;

}

#testimonials {
    padding: 20px 20px 10px 10px;
    background-color:var(--white);
    color: var(--black);
    font-weight: 800;
    margin-bottom: 10px;
    margin-right: 24px;
    list-style: none;
    flex-direction: column;
    box-shadow: 2px 2px 2px var(--black);
    border-radius: 8px;
}

.comments {
    padding-left: 20px;
    font-style: italic;
    font-size: var(--sm);
    font-family: 'Courier New', Courier, monospace;
    width: 350px;
}

.name-customer{
    font-size: var(--sm);
    text-align: right;
    padding-right: 10px;
}
.date {
    text-align: right;
    font-size: 0.9rem;
    padding-right: 10px;
}

.stars {
    padding-left: 25px;
    padding-right: 20px;
}

.starring{
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

@media (max-width: 1097px) {

    #ul-rating {
        display: block;
        justify-content: center;
    }}

    @media (max-width: 457px) {

        .comments {
            width: 150px;
        }
        }