#ratings {
    align-items: center;
    background-attachment: fixed;
    background-color: var(--blue);
    background-image: url('../assets/images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0;
}

#ul-rating {
    display: flex;
    justify-content: center;
}

h1.testimonials-title {
    color: var(--white);
    font-size: var(--eg);
    padding-top: 5%;
    width: auto;
}

.container-rating {
    border-radius: 10px;
    display: flex;
    height: auto;
    margin-bottom: 10px;
    margin: 3% 3% 3% 3%;
    opacity: 90%;
    width: max-content;
}

#testimonials {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--black);
    color: var(--black);
    flex-direction: column;
    font-weight: 800;
    list-style: none;
    margin-bottom: 10px;
    margin-right: 24px;
    padding: 20px 20px 10px 10px;
}

.comments {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--sm);
    font-style: italic;
    padding-left: 20px;
    width: 350px;
}

.name-customer {
    font-size: var(--sm);
    text-align: right;
    padding-right: 10px;
}

.date {
    font-size: 0.9rem;
    padding-right: 10px;
    text-align: right;
}

.starring {
    align-content: center;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.stars {
    padding-left: 25px;
    padding-right: 20px;
}


@media (max-width: 1405px) {

    #ul-rating {
        display: block;
        justify-content: center;
    }
}

@media (max-width: 457px) {

    .comments {
        width: 150px;
    }
}