
#rating {
    background-color: var(--blue);
    background-image: url('../assets/images/bg-testimonial.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: block;
    margin: auto;
    top: 0;
    padding: 6% 13% 15% 13%;

}


.testimonials-title {
    font-size: var(--seg);
    text-align: center;
    padding-bottom: 12%;
    color: var(--black);
    flex-direction: row;
}


.container-rating {
    opacity: 90%;
    display: flex;
    margin: 3% 3% 3% 3%;
    margin-bottom: 10px;
    border-radius: 10px;
    height:auto;
}

#testimonials {
    padding: 20px 20px 10px 10px;
    background-color:var(--blue);
    width: 50%;
    box-shadow: 20%;
    color: var(--white);
    font-weight: 800;
    margin-bottom: 10px;
    margin-right: 24px;
}

.comments {
    padding-left: 20px;
    font-style: italic;
    font-size: var(--md);
    font-family: 'Courier New', Courier, monospace;
}

.name-customer{
    font-size: var(--sm);
    text-align: right;
    padding-right: 10px;
}
.date {
    text-align: right;
    font-size: 0.9rem;
    padding-right: 10px;
}

@media (max-width: 1026px) {

    .container-rating {
        justify-content: center;
        display: block;
        width: 100%;
        
    }}
