.service-main{
    margin: 4rem 0 0 0;
    display:block;
    position: relative;
    width: 100%;
}

.service-list {
    display: inline-flex;
    margin: auto;
}

.services {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 4rem;
    line-height: 36px;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.container-service {
    width: 30%;
    align-self: center;
    top: 0;
}

#image-service{
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 180px;
    margin: auto;
    display: block;
}

.p-service {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--sm);
    color: var(--black);
    flex: none;
    text-align: center;
}

h2.service-title{
    height: 26px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: var(--lg);
    line-height: 26px;
    color: var(--black);
    margin-bottom: 20px;
}