.service-main {
    display: block;
    margin: 2rem 0 0 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.services-title {
    font-size: var(--eg);
    margin-bottom: 50px;
}

.service-list {
    display: inline-flex;
    margin: auto;
}

.service-box {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;
    padding: 0var(--deka);
    width: 100%;
}

.card-title {
    padding-top: 10px;
}

#image-service {
    display: block;
    flex-grow: 0;
    flex: none;
    margin: auto;
    order: 0;
    text-align: center;
    width: 180px;
}

#p-service {
    align-content: center;
    border: hidden;
    color: var(--black);
    font-size: var(--sm);
    padding: 20px 20px 20px 20px;
    text-align: center;
}


@media (max-width: 1026px) {

    .service-list {
        display: block;
        margin: auto;
    }
}