.service-main{
    margin: 2rem 0 0 0;
    display:block;
    position: relative;
    width: 100%;
    text-align: center;
}

.services-title {
    font-size: var(--eg);
    margin-bottom: 50px;
}

.service-list {
    display: inline-flex;
    margin: auto;
}

.service-box {
    box-sizing: border-box;
    margin: 0;
    padding: 0var(--deka);
    width: 100%; 
    padding-bottom: 20px;
}

.card-title {
    padding-top: 10px;
}


#services {
    margin: 0;
}
.container-service {
    width: 30%;
    align-self: center;
    top: 0;
}

#image-service{
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 180px;
    margin: auto;
    display: block;
}

#p-service {
    font-size: var(--sm);
    color: var(--black);
    text-align: center;
    align-content: center;
    border: hidden;
    padding: 20px 20px 20px 20px;
}



@media (max-width: 1026px) {

    .service-list {
        display: block;
        margin: auto;
    }}
